@font-face {
    font-family: 'Consolas';
    font-display: swap;
    src: url('../font/consola.ttf') format("truetype");
}

body, button, input, select, textarea {
    font-family: dhtfr;
}
code, pre {
    font-family: Consolas;
}

article.article .content {
    font-size: 1.2rem;
}
body {
    font-size: 1.1em;
}

.navbar-main .navbar-item {
    padding: 0.25rem 0.75rem;
}

.navbar-logo img {
    max-height: 2.45rem;
}
.title.is-3 {
    font-size: 2.3rem;
}

@media screen and (min-width: 1104px), print {
    .column.is-4, .column.is-4-tablet, .is-4-desktop, .is-4-widescreen {
        width: 25%;  
        max-width: 25rem;
    }

    .column.is-8, .column.is-8-tablet, .is-8-desktop, .is-8-widescreen {
        width: 75%;
    }
}
.article {
    margin-right: 10px;
    margin-left: 10px;
    .content a img {
        margin: auto;
        display: block;
    }
}
.is-2-column { 
    background-image: url("../image/background.png");
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
}

.card {
    border-radius: 15px;
}